# === System ===
.DS_Store


# === IDE ===
# eclipse
.settings
.project
.classpath
*_mvn_deploy.launch

# idea
.idea
*.iml


# === Test ===
coverage


# === Publish ===
dist
lib


# === umi ===
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/npm-debug.log*
/yarn-error.log
/yarn.lock
/package-lock.json

# production
/dist

# misc
.DS_Store

# umi
.umi
.umi-production


# === umi-lib ===
/yarn.lock
/package-lock.json
/dist
/.docz
/node_modules

